<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Registration Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <style type="text/css">
      
      span{
        width:100px;
        display:inline-block;
      }
    </style>
  </head>
  
  
  
  <div class = "bkg">
    <div class = "box">
      <div style="text-align: center;">
      <form> 
        <br><h1 style="text-align: center; color: rgb(255, 255, 255);">
          REGISTER
        </h1><br>
        <div class="input-group mb-3" style="text-align: center; color: rgb(255, 255, 255);">
          <span class="input-group-text" id="inputGroup-sizing-default" >User Name</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="User Name">
        </div>
        <div class="input-group mb-3" style="text-align: center; color: rgb(255, 255, 255);">
          <span class="input-group-text" id="inputGroup-sizing-default" >Email Id</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Email ID">
        </div>
        <div class="input-group mb-3" style="text-align: center; color: rgb(255, 255, 255);">
          <span class="input-group-text" id="inputGroup-sizing-default" > Password</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Password">
        </div>
        <div class="input-group mb-3" style="text-align: center; color: rbga(255,255,255);">
          <span class="input-group-text" id="inputGroup-sizing-default" >OTP</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="OTP">
        </div>
        <br><div class="container signin" style="text-align: center; color: rgb(255, 255, 255);">
          <p>Already have an account? <a href="app/login" style="color:pink">Login</a>.</p>
        </div><br>
        <button type="button" style="background-color:black" style="color:white" class="btn btn-success btn-lg" >SignUp</button>
      </form>
      </div>
    </div>
  </div>
</html>
