
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LoginForm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    
    
  </head>
  
  
  <div class = "bkg">
    <div class = "box">
      <div style="text-align: center;">
      <form onsubmit="return validate()"> 
        <br><h1 style="text-align: center; color: rgb(255, 255, 255);">
          LOGIN
        </h1><br><br>
        <div id="error"></div>
        <div class="input-group mb-3" style="text-align: center; color: rgb(255, 255, 255);">
          <span class="input-group-text" id="MailId">Email</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="abc@gmail.com*" >
          
        </div><br>
        <div class="input-group mb-3" style="text-align: center; color: rgb(255, 255, 255);">
          <span class="input-group-text" id="Password">Password</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="password*" type="text" required>
        </div>
        <label><input type="checkbox" />Remember Me</label>
        <br><br><div class="container signin" style="text-align: center; color: rgb(255, 255, 255);">
          <p>Don't have an account? <a href="/register" style="color:pink ">Let's  Create</a>.</p>
        </div><br>
        <br><button class="btn btn-success btn-lg" value="Submit" style="background-color:black" style="color:white">Login</button>
      </form>
      </div>
    </div>
  </div>
