<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Registration Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <style type="text/css">
      
      span{
        width:100px;
        display:inline-block;
      }
    </style>
  </head>
  <body>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="card box-shadow" style="width: 18rem;">
              <img src="assets/image1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color:black">Title</h5>
                <p class="card-text" style="color:black">description</p>
                <a href="#" class="btn btn-primary">Read More</a>
             
                <section id="testimonials">
                <div class="testimonial-heading">

                </div>
              <div class="testimonial-box-container">
                 <div class="testimonial-box">
                    <div class="box-top">
                      <div class="profile">
                        <div class="profile-img">
                          <img src="assets/c-1.jpg">
                        </div>
                      <div class="name-user">
                        <strong>xyz</strong>
                        <span>@xyz</span>
                      </div>
                    </div>
              
            <div class="reviews">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
        </div>
        <div class="client-comment">
          <p>dqioojiowwwwwnvfiiieuufsebviiwjroifirjvk nbjbgkgbr</p>
        </div>
      </div>
      <div class="testimonial-box">
        <div class="box-top">
          <div class="profile">
            <div class="profile-img">
              <img src="assets/c-1.jpg">
            </div>
          <div class="name-user">
            <strong>xyz</strong>
            <span>@xyz</span>
          </div>
        </div>
  
<div class="reviews">
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="far fa-star"></i>
</div>
</div>
<div class="client-comment">
<p>dqioojiowwwwwnvfiiieuufsebviiwjroifirjvk nbjbgkgbr</p>
</div>
</div>
<div class="testimonial-box">
  <div class="box-top">
    <div class="profile">
      <div class="profile-img">
        <img src="assets/c-1.jpg">
      </div>
    <div class="name-user">
      <strong>xyz</strong>
      <span>@xyz</span>
    </div>
  </div>

<div class="reviews">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
</div>
<div class="client-comment">
<p>dqioojiowwwwwnvfiiieuufsebviiwjroifirjvk nbjbgkgbr</p>
</div>
</div>
<div class="testimonial-box">
  <div class="box-top">
    <div class="profile">
      <div class="profile-img">
        <img src="assets/c-2.jpg">
      </div>
    <div class="name-user">
      <strong>xyz</strong>
      <span>@xyz</span>
    </div>
  </div>

<div class="reviews">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
</div>  
<div class="client-comment">
<p>dqioojiowwwwwnvfiiieuufsebviiwjroifirjvk nbjbgkgbr</p>
</div>
</div>

